{sub_dirs, [
    "apps/ec_chess",
    "apps/ec_perftest",
    "apps/ec_prof",
    "rel"
    ]}.

{erl_opts, [debug_info, fail_on_warning, {i, ".."}]}.
{cover_enabled, true}.
{lib_dirs, ["apps"]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.

{recursive_cmds, [xref, doc, eunit, generate]}.
